.vscode
.DS_Store
vendor

terraform-provider-sra
bin
dist
terraform.tfvars
terraform.tfvars.json

**/.terraform/*

*.tfstate
*.tfstate.*
.terraform.lock*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
terraform
.test-data/
test-reg/